body {
    background-image: url("http://udevelopers.uz/wp-content/uploads/2019/12/0_HICLyAdNSIyT0ODU.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

h1 {
    color: brown;
    text-align: center;
}

.hometext{
    background-color: thistle;
    border-radius: 10px;

}

#plorem {
    color: rgb(221, 19, 19);
    text-align: center;
    font-size: 20px;
    padding: 10px;

}

.login {
    text-align: lift;
    background-color: mintcream;
    padding: 3px ;
    
    
    
}

.login h3 a{
    text-decoration: none;
    margin: 10px;
}

#under {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #333;
    color: #fff;
    text-align: center;
    margin-top: 40px;
    font-family: sans-serif;
    padding: 4px 0;
    
}

